header {
    background-color: rgb(10, 134, 184);
}

label {
    font-weight: bold;
}

section {
    padding: 0 15.5rem 0 15.5rem;
    margin-top: 5rem;
}

thead {
    background-color: rgb(206, 206, 206);
}

footer {
    padding-left: 15rem;
}

header p {
    font-size: 1rem;
    margin: 2rem 14rem 0 14rem;
    padding-bottom: 1rem;
}

.registration {
    padding: 0 30rem 0 30rem;
    margin-bottom: 5rem;
}

.btn-custom {
    background-color: #0d9ba5;
    color: white;
}

.btn-custom:hover {
    background-color: #0d9ba562;
    color: black;
}

.col-md-6 h3,
.col-md-12 h3 {
    font-weight: bold;
}