header {
    background-color: rgba(10, 135, 184, 0.671);
}

label {
    font-weight: bold;
}

section {
    padding: 0 15.5rem 0 15.5rem;
    margin-top: 2rem;
}

thead {
    background-color: rgb(206, 206, 206);
}

footer {
    padding-left: 15rem;
}

header p {
    font-size: 1rem;
    margin: 2rem 14rem 0 14rem;
    padding-bottom: 1rem;
}

.registration {
    padding: 2rem 30rem 2rem 30rem;
}

.btn-custom {
    background-color: #0d9ba5;
    color: white;
}

.btn-custom:hover {
    background-color: #0d9ba562;
    color: black;
}

.col-md-6 h3,
.col-md-12 h3 {
    font-weight: bold;
}

.names,
.session {
    padding: 2rem 15.5rem 0 15.5rem;
}

.btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
}

.details {
    margin-top: 0.5rem;
}

.navbar-brand {
    margin-right: auto;
    margin-left: 5rem;
}

.navbar-nav {
    margin-left: auto;
}

.modal-footer strong {
    margin-right: 5.5rem;
}

.smaller-form {
    font-size: 14px; 
}

.smaller-form .form-control {
    height: 2rem;
}

#form:hover,
#sessions:hover,
#members:hover {
    cursor: pointer;
}